<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="PremierBeef.Application.Services.Usuario.UsuarioService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Usuario.IUsuarioService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Usuario/UsuarioService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.Security.SecurityService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Security.ISecurityService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Security/SecurityService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.Rol.RolService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Rol.IRolService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Rol/RolService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.Producto.ProductoService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Producto.IProductoService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Producto/ProductoService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.Proveedor.ProveedorService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Proveedor.IProveedorService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Proveedor/ProveedorService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.Categoria.CategoriaService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Categoria.ICategoriaService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Categoria/CategoriaService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.Cliente.ClienteService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Cliente.IClienteService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Cliente/ClienteService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.Almacen.AlmacenService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Almacen.IAlmacenService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Almacen/AlmacenService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.Reclamo.ReclamoService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Reclamo.IReclamoService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Reclamo/ReclamoService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.TipoDocumentos.TipoDocumentoService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.TipoDocumentos.ITipoDocumentoService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.TipoDocumentos/TipoDocumentoService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.Promocion.PromocionService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Promocion.IPromocionService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Promocion/PromocionService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.Reporte.ReporteService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Reporte.IReporteService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Reporte/ReporteService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.ReclamoTipo.ReclamoTipoService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.ReclamoTipo.IReclamoTipoService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.ReclamoTipo/ReclamoTipoService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.Archivo.ArchivoService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Archivo.IArchivoService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Archivo/ArchivoService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.Migracion.MigracionService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Migracion.IMigracionService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Migracion/MigracionService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="PremierBeef.Application.Services.Pronostico.PronosticoService">
                <endpoint address="" binding="basicHttpBinding" contract="PremierBeef.Application.Services.Pronostico.IPronosticoService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/PremierBeef.Application.Services.Pronostico/PronosticoService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
